.card {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 282px;
  height: 361px;
  background-color: #ffffff;
  border-radius: 10px;
  display: grid;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__image:hover {
  cursor: pointer;
  opacity: 0.95;
}

.card__trash-btn {
  width: 18px;
  height: 19.3px;
  background-image: url(/images/trash-btn.svg);
  z-index: 1;
  position: absolute;
  top: 18px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__trash-btn:hover {
  opacity: 0.6;
}

.card__trash-btn:active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(248, 244, 244, 0.1);
  border: 2px solid gray;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 21px;
  height: 79px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__name {
  margin: 0;
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 210px;
}

.card__like-btn {
  background-image: url(/images/like-btn.svg);
  width: 21px;
  height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 0.5;
}

.card__like-btn_active {
  background-image: url(/images/like-btn-black.svg);
  width: 21px;
  height: 19px;
}
