.content__profile {
  display: flex;
  align-items: center;
  max-width: 880px;
}

.content__elements {
  padding-top: 50px;
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  /*800px*/

  .content__profile {
    max-width: 660px;
  }

  .content__elements {
    justify-self: center;
    max-width: 660px;
    display: grid;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  /*320*/

  .content__profile {
    flex-direction: column;
    justify-content: center;
    margin: 2px 19px 0; /*2px de margem superior para somar o total de 42px de espaçamento entre o bloco acima*/
    max-width: 440px;
  }

  .content__elements {
    padding-top: 36px;
    max-width: 440px;
    justify-self: center;
    display: grid;
  }
}
