.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page__header {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
}

.page__content {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
}

.page__footer {
  padding-top: 67px;
  padding-bottom: 60px;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  /*800px*/

  .page {
    min-width: 641px;
    max-width: 960px;
  }

  .page__header {
    max-width: 660px; /*880*960 = 1280x*/
  }

  .page__content {
    max-width: 660px; /*880*960 = 1280x*/
  }

  .page__footer {
    max-width: 660px; /*880*960 = 1280x*/
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  /*320px*/

  .page {
    min-width: 320px;
    max-width: 640px;
  }

  .page__header {
    max-width: 440px; /*880*640 = 1280x*/
    padding-top: 28px;
  }

  .page__content {
    max-width: 440px;
  }

  .page__footer {
    max-width: 440px;
    padding-top: 50px;
    padding-bottom: 36px;
  }
}
